.App body {
  background-size: cover;
}

.App h1 {
  font-size: 50px;
  font-weight: bold;
}

.App h2 {
  font-size: 16px;
  position: relative;
  bottom: -8px;
  font-weight: bold;
}

.App a {
  text-decoration: none;
}

.App a:hover {
  text-decoration: rgb(2, 2, 91);
}

.App .weather-app {
  border: 2px solid #000;
  border-radius: 20px;
  max-width: 900px;
  display: block;
  margin: 100px auto;
  padding: 40px 60px 40px 60px;
  font-family: "Mali", cursive;
  background-color: rgba(255, 255, 255, 0.7);
}

.App .footer {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
