.Weather .weather-data {
  position: relative;
  bottom: -15px;
}

.Weather .today-icon {
  width: 120px;
  display: block;
  margin: 0 auto;
}

.Weather .description {
  text-align: center;
  font-weight: bold;
}
.Weather .description::first-letter {
  text-transform: capitalize;
}

.Weather .temperature {
  font-size: 56px;
  font-weight: bold;
}

.Weather .temp-scale {
  font-size: 20px;
  position: relative;
  top: -20px;
  left: -5px;
}
